<div class="wrapper">
    <div class="banner-img"></div>
    <div class="container-fluid">
      <h2>About Us:</h2>
      <h5>
        Embrace the Future of Clean Rides! From our humble beginnings, we've been on a journey, relentlessly pursuing sparkling clean cars. As we expand, washers from every corner are uniting in our cause. Join us, be more than a member – become a driving force in our community.<br><br> <b>JOIN THE CLEAN TEAM TODAY</b><br> Experience the Difference.
      </h5>
    </div>
    <hr style="border-top: 2px dotted rgb(74, 190, 232)">
    <div class="container-fluid text-center section2">
        <h2>What We Offer</h2>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <fa-icon [icon]="dumbell"></fa-icon>
            <h4>POWER</h4>
            <p>The power of the team has made this possible.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="heart"></fa-icon>
            <h4>LOVE</h4>
            <p>Support and love makes it easy.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="case"></fa-icon>
            <h4>JOB DONE</h4>
            <p>With that we get our job done.</p>
          </div>
          </div>
          <br><br>
        <div class="row">
          <div class="col-sm-4">
            <fa-icon [icon]="leaf"></fa-icon>
            <h4>GREEN</h4>
            <p>We know the value of nature and always <br>respect it.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="certificate"></fa-icon>
            <h4>CERTIFIED</h4>
            <p>No need to worry, your car will be in good hands.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="cogs"></fa-icon>
            <h4>HARD WORK</h4>
            <p>We work hard everyday, to make it easy for you.</p>
          </div>
        </div>
      </div>
</div>